@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Akrobat";
  src: url("/assets/fonts/AKROBAT-REGULAR.OTF") format("opentype");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  font-family: "Akrobat";
}
